
body {
	background-color: rgb(211 226 249 / 100%);
	margin:0;
  }

  .hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
	background-color:rgb(211 226 249 / 100%);
}

.hero::before {    
      content: "";
	  background-image: url("/src/images/background.jpg");
      background-size: cover;
      position: absolute;
      inset: 0;
      opacity: 0.4;
}

    .title{
	font-family: "Playpen Sans";
	color:rgb(57 121 216 / 100%);
	font-size:100px;
	text-align:center;
	isolation:isolate;
	text-shadow: 4px 4px 4px rgb(0 0 0 / 50%);
	-webkit-text-stroke-color: rgb(255 255 255);
  }
  
  .scroll{
	max-width: 15%;
	max-height: 15%;
  }

  .scrollcenter{
	 display: flex;
     justify-content: center;
     align-items: center;
	 margin-top: -50px;
  }

  .about{
	margin: 40px;
  }

  .question{
	font-family: "Playpen Sans";
	color:rgb(57 121 216 / 100%);
	font-size:40px;
  }

  .answer{
	font-family: "Playpen Sans";
	color:rgb(6 41 94 / 100%);
	font-size:20px;
  }

  .website{
	font-family: "Playpen Sans";
	color:rgb(6 41 94 / 100%);
	font-size:20px;
	margin: 40px;
  }

  #popupButton{
	padding: 10px 20px;
	background-color: rgb(57 121 216 / 100%);
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	width: 100px;
  }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.alarm{
  	font-family: "Playpen Sans";
	color:rgb(57 121 216 / 100%);
}

#closeButton{
  	padding: 10px 20px;
	background-color: rgb(57 121 216 / 100%);
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	width: 100px;
}

.startbutton{
  	padding: 10px 20px;
	background-color: rgb(57 121 216 / 100%);
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	width: 100px;
  margin-left:20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

  
.buttoncenter{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:50px;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:10px;
}

.essense{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
	width: 80%;
	height: auto;
	}

	@media (width <=1024px) and (width >=768px){
		width: 80%;
		height: auto;
		}

		@media (width >=1024px){
			width: 80%;
			height: auto;	
		}
  }

.essensecenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.essenseset{
	display:grid;
	justify-content: center;
	align-items: center;
}

.cream{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

.creamcenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
}

.creamset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.bb{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

.bbcenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}

}

.bbset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.razer{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

.razercenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.razerset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.eyebrownpen{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

.eyebrowpencenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.eyebrownpenset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.eyeshadow{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 60%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

  .eyeshadowcenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.eyeshadowset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.eyeliner{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

  .eyelinercenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.eyelinerset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.eyelashcurler{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

  .eyelashcurlercenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.eyeslashcurlerset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.lashclash{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

  .lashclashcenter{
	@media (width <=375x){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.lashclashset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.blush{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

  .blushcenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.blushset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.lip{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=768px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

  .lipcenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.lipset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.comb{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
		width: 80%;
		height: auto;
		}

		@media (width <=1024px) and (width >=375px){
			width: 80%;
			height: auto;
			}

			@media (width >=1024px){
				width: 80%;
				height: auto;	
			}
  }

  .combcenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.combset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.curler{
	width: 50%;
	height: auto;

	@media (width <=375px){
	width: 50%;
	height: auto;
	}

	@media (width <=768px) and (width >=375px){
	width: 80%;
	height: auto;
	}

	@media (width <=1024px) and (width >=768px){
		width: 80%;
		height: auto;
		}

		@media (width >=1024px){
			width: 80%;
			height: auto;	
		}
}

  .curlercenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.curlerset{
	display: grid;
	justify-content: center;
	align-items: center;
}



.tab{
	@media (width <=375px){
	padding: 5px 10px;
	}

	padding: 2px 4px;
	font-size: 15px;
	background-color: rgb(57 121 216 / 100%);
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 20px;
	height: 30px;
	width: 80px;

	@media (width <=768px) and (width >=375px){
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	}

	@media (width <=1024px) and (width >=768px){
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	@media (width >=1024px){
		margin-left: 60px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
  }

  .tabcenter{
	@media (width <=375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.asmrtabs{
	@media (width <=768px) and (width >=375px){
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin-left: 30px;
}

@media (width <=1024px) and (width >=768px){
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin-left: 60px;
}

@media (width >=1024px){
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin-left: 60px;
}
}
