
body {
	background-color: rgba(211, 226, 249, 1);
	margin:0px;
  }

  .hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
	background-color:rgba(211, 226, 249, 1);
}

.hero::before {    
      content: "";
	  background-image: url("/src/images/background.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.4;
}

    .title{
	font-family: Playpen Sans;
	color:rgba(57, 121, 216, 1);
	font-size:100px;
	text-align:center;
	isolation:isolate;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	-webkit-text-stroke-color: rgb(255, 255, 255);
  }
  
  .scroll{
	max-width: 15%;
	max-height: 15%;
  }
  .scrollcenter{
	 display: flex;
     justify-content: center;
     align-items: center;
	 margin-top: -50px;
  }
  .about{
	margin: 40px;
  }
  .question{
	font-family: Playpen Sans;
	color:rgba(57, 121, 216, 1);
	font-size:40px;
  }
  .answer{
	font-family: Playpen Sans;
	color:rgba(6, 41, 94, 1);
	font-size:20px;
  }
  .website{
	font-family: Playpen Sans;
	color:rgba(6, 41, 94, 1);
	font-size:20px;
	margin: 40px;
  }

  .startbutton{
	padding: 10px 20px;
	background-color: rgba(57, 121, 216, 1);
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	width: 100px;
  }
  #overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
  }
#overlay.active {
	opacity: 1;
	pointer-events: all;
  }
  .modal{
	font-family: Playpen Sans;
	color:rgba(57, 121, 216, 1);
	position:fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	border: 1px rgba(57, 121, 216, 1);
	border-radius: 10px;
	z-index: 10;
	background-color:  rgba(211, 226, 249, 1);
	width: 500px;
	max-width: 80%;
	text-align: center;
	margin: 3z0px;
  }
  .modal.active {
	transform: translate(-50%, -50%) scale(1);
  }
  
  .startbutton1{
	padding: 10px 20px;
	background-color: rgba(57, 121, 216, 1);
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 4px;
	width: 100px;
	margin-bottom: 10px;
  }

.alarm{
	margin-left: 20px;
	margin-right: 20px;
}
.buttoncenter{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:50px;
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:10px;
}

.essense{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
	width: 80%;
	height: auto;
	}
	@media (max-width:1024px) and (min-width:768px){
		width: 80%;
		height: auto;
		}
		@media (min-width:1024px){
			width: 80%;
			height: auto;	
		}
  }
.essensecenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.essenseset{
	display:grid;
	justify-content: center;
	align-items: center;
}
.cream{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
.creamcenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
}
.creamset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.bb{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
.bbcenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}

}
.bbset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.razer{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
.razercenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.razerset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.eyebrownpen{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
.eyebrowpencenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.eyebrownpenset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.eyeshadow{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 60%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
  .eyeshadowcenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.eyeshadowset{
	display: grid;
	justify-content: center;
	align-items: center;
}

.eyeliner{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
  .eyelinercenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.eyelinerset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.eyelashcurler{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
  .eyelashcurlercenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.eyeslashcurlerset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.lashclash{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
  .lashclashcenter{
	@media (max-width:375x){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.lashclashset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.blush{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
  .blushcenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.blushset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.lip{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:768px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
  .lipcenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.lipset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.comb{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
		width: 80%;
		height: auto;
		}
		@media (max-width:1024px) and (min-width:375px){
			width: 80%;
			height: auto;
			}
			@media (min-width:1024px){
				width: 80%;
				height: auto;	
			}
  }
  .combcenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.combset{
	display: grid;
	justify-content: center;
	align-items: center;
}
.curler{
	width: 50%;
	height: auto;
	@media (max-width:375px){
	width: 50%;
	height: auto;
	}
	@media (max-width:768px) and (min-width:375px){
	width: 80%;
	height: auto;
	}
	@media (max-width:1024px) and (min-width:768px){
		width: 80%;
		height: auto;
		}
		@media (min-width:1024px){
			width: 80%;
			height: auto;	
		}
}
  .curlercenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}
.curlerset{
	display: grid;
	justify-content: center;
	align-items: center;
}



.tab{
	@media (max-width:375px){
	padding: 5px 10px;
	}
	padding: 2px 4px;
	font-size: 15px;
	background-color: rgba(57, 121, 216, 1);
	color: #fff;
	text-decoration: none;
	border: none;
	cursor: pointer;
	text-align: center;
	border-radius: 20px;
	height: 30px;
	width: 80px;
	@media (max-width:768px) and (min-width:375px){
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
	@media (max-width:1024px) and (min-width:768px){
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	@media (min-width:1024px){
		margin-left: 60px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
  }

  .tabcenter{
	@media (max-width:375px){
	display: flex;
	justify-content: center;
	align-items: center;
	}
}

.asmrtabs{
	@media (max-width:768px) and (min-width:375px){
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin-left: 30px;
}
@media (max-width:1024px) and (min-width:768px){
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin-left: 60px;
}
@media (min-width:1024px){
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin-left: 60px;
}
}
